/* Fonte Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap%27");
/* Fonte Bebas Neue */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-align: center !important;
  color: #18a0fb;
}

/* NAVBAR */

/* #container {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}

#container li {
  font-size: 24px;
  /* font-weight: bolder; */
/* border-radius: 150px;
  margin: 0 2vw;
}

#container li:hover {
  border-bottom: 6px solid purple;
}

#container a:hover {
  color: purple;
} */

/* NEW NAVBAR */

.navbar li a {
  font-weight: bolder;
  font-size: 24px;
  width: 200px;
}

.navbar p {
  font-weight: bolder;
  color: #18a0fb;
}

.button {
  border-radius: 150px;
}

.navbar li:hover {
  border-bottom: 6px solid purple;
}


/* .navbar ul:hover {
  border-bottom: 1px solid purple;
} */

/* body */

body {
  background-image: url(../img/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body.inicio #navegacao li#inicio a,
body.projeto #navegacao li#projeto a,
body.voluntario #navegacao li#voluntario a,
body.doe #navegacao li#doe a,
body.contato #navegacao li#contato a {
  color: white;
  cursor: text;
}

body.inicio #navegacao li#inicio,
body.projeto #navegacao li#projeto,
body.voluntario #navegacao li#voluntario,
body.doe #navegacao li#doe,
body.contato #navegacao li#contato {
  background-color: #0d6efd;
  cursor: text;
}

.butt {
  margin: 0;
  padding: 0;
}

section h1 {
  margin: 20px 0;
  font-family: "Bebas Neue";
  font-size: 6rem;
}

section h3 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

section p {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 24px;
}

.button {
  color: white;
  background-image: linear-gradient(
    to right top,
    #a044ff,
    #933fe3,
    #8639c7,
    #7835ad,
    #6a3093
  );
  border: 0px purple;
  margin: 15px 0 15px 45px;
  width: 300px;
  height: 67px;
  font-family: "Roboto";
  font-size: 25px;
}

.endereco p {
  color: black;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.fa-youtube {
  font-size: 3vw;
  color: black;
}

.fa-facebook-square {
  font-size: 3vw;
  color: black;
}

.fa-instagram {
  font-size: 3vw;
  color: black;
}

.cards {
  border-radius: 15px;
}

.missao {
  background-image: linear-gradient(
    to top,
    #76b852,
    #7cbb59,
    #82bd61,
    #87c068,
    #8dc26f
  );
  border-radius: 15px;
}

.causa {
  border-radius: 15px;
}

.causa p {
  padding-bottom: 34px;
}

.visao {
  border-radius: 15px;
}

.valores {
  background-image: linear-gradient(
    to right top,
    #a044ff,
    #933fe3,
    #8639c7,
    #7835ad,
    #6a3093
  );
  border-radius: 15px;
}

.valores p {
  padding-bottom: 70px;
}

/* MEdia Querie */

@media only screen and (max-width: 769px) {
  #container ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    font-size: 6vw;
    margin-left: 25%;
    padding: 2vw;
  }

  #container ul {
    border-bottom: 1px solid lightblue;

    width: 100%;
    margin: 0;
  }

  section h1 {
    margin: 20px 0;
    font-family: "Bebas Neue";
    font-size: 10vw;
  }

body.inicio #navegacao li#inicio,
body.projeto #navegacao li#projeto,
body.voluntario #navegacao li#voluntario,
body.doe #navegacao li#doe,
body.contato #navegacao li#contato {
  cursor: text;
}

  .button {
    color: white;
    background-image: linear-gradient(
      to right top,
      #a044ff,
      #933fe3,
      #8639c7,
      #7835ad,
      #6a3093
    );
    border: 0px purple;
    margin: 15px 0 50px 30px;
    width: 25vw;
    height: 5vh;
    font-family: "Roboto";
    font-size: 2.5vw;
  }

  
  footer {
    border-top: 2px solid lightblue;
    font-size: 2.5vw;
  }

  footer p {
    margin-left: 15%;
    width: 50vw;
    height: 4vh;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
  }

  .fa-youtube {
    font-size: 6vw;
    color: black;
  }

  .fa-facebook-square {
    font-size: 6vw;
    color: black;
  }

  .fa-instagram {
    font-size: 6vw;
    color: black;
  }

  .projeto p {
    font-size: 4vw;
  }

  .text p {
    font-size: 6vw;
  }

}


/* ********* Página Projeto **************/

.cardd {
  width: 80vw;
}